<div style="height: 100%">
     <form name="frmSandbox" class="form-horizontal" style="height: 100%" novalidate>
        <h2>Info sandbox</h2>

        <div class="wrapper-form-element" >
            <div class="form-group element-form">
               <label class="control-label col-lg-6" style="text-align: left;">Identificativo: {{tmpSandbox.identifier}}</label>
            </div>
            <div class="form-group element-form">
                <label class="col-md-1 control-label" for="txtName">Nome:</label>
                <div class="col-md-11">
                    <input type="text" id="txtName" name="namesb" class="form-control" ng-class="{'edit-mode':editable}"  style="position:relative;z-index:10" ng-model="tmpSandbox.name" ng-disabled="!editable" required>
                </div>
            </div>
            <div class="form-group element-form">
                <label class="col-md-1 control-label" for="imgIcon">Icona:</label>
                <div class="col-md-11" ng-show="!editable">
                    <img ng-src="data:image/png;base64,{{tmpSandbox.icon}}" ng-disabled="!editable" style="width: 32px;height: 32px;" ng-show="tmpSandbox.icon != null">
                    <div ng-show="tmpSandbox.icon == null" style="padding-top: 7px;">Nessuna immagine selezionata</div>
                </div>
                <div class="col-md-11" ng-show="editable">
                    <input id="imgIcon" type="file" class="form-control" style="position:relative;z-index:10" ng-model="tmpSandbox.icon" ng-maxlength="10000" ng-disabled="!editable" accept="image/*">
                </div>
            </div>
            <div>
                <label class="col-md-1 control-label" style="padding-left: 0px;" for="txtDescription">Descrizione:</label>
            </div>
            <div class="description-area">
                <div class="form-group element-form" style="height: 100%">
                    <div class="col-md-12" style="height: 100%">
                        <textarea id="txtDescription" class="form-control" style="height: 100%;" ng-disabled="!editable" ng-model="tmpSandbox.description">{{tmpSandbox.description}}</textarea>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>