<!-- lista sulla sinistra -->
<div class="panel panel-primary" style="height: 100%">
    <div class="panel-heading">Lista Sandbox</div>
    <input ng-model="txtSearch.name" placeholder="Inserisci il nome della sandbox"  style="width: 100%; height: 23px;z-index: 100;position:relative;" ng-disabled="editable">
    <div class="container-panel-body-p">
        <div ng-class="editable == true ? 'panel-body-disabled' : 'panel-body-p'">
            <div ng-repeat="sandbox in sandboxList | filter: txtSearch">
                <sandbox-list-item/>
            </div>
        </div>
    </div>
</div>
<!-- dettagli a destra -->