<div id="sandbox-view-content" class="col-md-12">
    <div class="col-md-4" style="height: 100%;" >
      <sandbox-list editable="editable" selected-sandbox="selectedSandbox" sandbox-list="sandboxList"></sandbox-list>
    </div>
    <div class="col-md-8" style="height: 100%;">
        <sandbox-info tmp-sandbox="tmpSandbox" is-valid-sandbox="isValidSandbox" editable="editable" selected-sandbox="selectedSandbox"></sandbox-info>
    </div>
</div>
<div>
    <sandbox-action-bar editable="editable" is-valid-sandbox="isValidSandbox"></sandbox-action-bar>
</div>